<!-- templates/registration/password_reset_form.html -->
{% extends "application.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block sub_head %}
    <script src="{% static 'administration/js/admin.js' %}"></script>
    <script type="application/javascript">
        let csrftoken = '{% csrf_token %}'
        let showCreateUserForm = {% if showCreateUserForm %} true {% else %} false {% endif %}
        let showEditUserForm = {% if showEditUserForm %} true {% else %} false {% endif %}
    </script>
    <style>
        ul.errorlist li {
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    <br>
    <div class="container-fluid">
        <div class="card mb-0 schedule-card">
            <div class="card-header border-0 pt-3 mt-1">
                <div class="row">
                    <div class="col-6">
                        <h1 class="header-title mt-2">{% trans "Set New Password" %}</h1>
                    </div>
                    {% if validlink %}
                        <div class="col-12 ">
                            <hr>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalUserForm">
                                    <span class="submit"></span> {% trans "Change my password" %}
                                </button>
                            </form>
                        </div>
                    {% else %}
                        <div class="col-12 ">
                            <hr>
                            <p class="text-danger">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}