<!-- templates/registration/password_reset_form.html -->
{% extends "application.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block sub_head %}
    <script src="{% static 'administration/js/admin.js' %}"></script>
    <script type="application/javascript">
        let csrftoken = '{% csrf_token %}'
        let showCreateUserForm = {% if showCreateUserForm %} true {% else %} false {% endif %}
        let showEditUserForm = {% if showEditUserForm %} true {% else %} false {% endif %}
    </script>
    <style>
        ul.errorlist li {
            color: red;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card mb-0">
                    <div class="card-header">
                        <h1 class="header-title mt-2">{% trans "Forgot your password?" %}</h1>
                    </div>
                    <div class="card-body">
                        <p class="font-weight-bold">{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                        <form method="POST" class="reset-pwd">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modalUserForm">
                                <span class="submit"></span> {% trans "Send me a password reset link" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}