{% extends "administration/settings.html" %}
{% load i18n %}

{% block settingscontent %}
<div class="pt-0">
    <div class="container-fluid">
        <div class="platform-settings">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body mw-1600">
                            <h2 class="mb-2">{% trans "General" %}</h2>
                            <p class="text-muted mb-4">{% trans "Core business information used across your platform." %}</p>

                            <form action="{% url 'administration:settings-contact' %}" id="businessSettingForm" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="setting_update" name="setting_update" value="business_settings">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="business_name">{% trans "Business Name" %}</label>
                                            <input type="text" id="business_name" name="business_name" value="{{ business_name|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="business_website">{% trans "Business Website" %}</label>
                                            <input type="text" id="business_website" name="business_website" value="{{ business_website|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="contact_email">{% trans "Business Support Email" %}</label>
                                            <input type="email" id="contact_email" name="contact_email" value="{{ contact_email|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="contact_phone">{% trans "Business Phone Number" %}</label>
                                            <input type="text" id="contact_phone" name="contact_phone" value="{{ contact_phone|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="business_address">{% trans "Business Address" %}</label>
                                            <input type="text" id="business_address" name="business_address" value="{{ business_address|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="business_reg_id">{% trans "Business Registration Number" %}</label>
                                            <input type="text" id="business_reg_id" name="business_reg_id" value="{{ business_reg_id|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-sm-0">
                                            <label for="business_owner">{% trans "Business Representative Name" %}</label>
                                            <input type="text" id="business_owner" name="business_owner" value="{{ business_owner|default_if_none:'' }}" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox table-checkbox mt-3">
                                    <input type="checkbox" class="custom-control-input" name="show_contact" id="show_contact" {% if obj.show_contact %}checked{% endif %}>
                                    <label class="custom-control-label" for="show_contact">{% trans "Show contact information on customer pages?" %}</label>
                                </div>

                                <button type="submit" class="btn btn-primary mt-4" id="save_business_information">{% trans "Save changes" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#contact-tab").addClass("active");
</script>
{% endblock %}
