{% extends "navigation.html" %}
{% load static %}
{% load i18n %}

{% block subtitle %}{% trans "Platform Settings" %}{% endblock %}
{% block sub_head %}
{% endblock %}
{% block content %}

    <style>
        .text-color {
            color: {{ text_color }}
        }

        .text-color-bg {
            background-color: {{ text_color }}
        }
    </style>
    <div class="header">
        <div class="container-fluid">
          <h1 class="header-title my-4">{% trans "Platform Settings" %}</h1>
  
          <div class="bg-white pr-4 pb-4 pl-4 rounded-lg tabs-header">
  
            <div class="row align-items-center">
              <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="{% url 'administration:settings-embed'%}" id="embed-tab" class="nav-link">
                        <span class="fe fe-calendar mr-1"></span>
                        {% trans "Embed" %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'administration:settings-contact'%}" id="contact-tab" class="nav-link">
                        <span class="fe fe-mail mr-1"></span>
                        {% trans "Contact" %}
                    </a>
                  </li>
                  {% if 'payment' in plugins %}
                    {% include "payment/partials/settings_nav.html" %}
                  {% endif %}

                  {% if 'booking' in plugins %}
                    {% include "booking/partials/settings_nav.html" %}
                  {% endif %}

                  {% if 'messaging' in plugins %}
                    {% include "registration/partials/settings_nav.html" %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end header -->
  
      {% block settingscontent %}{% endblock %}

{% endblock %}
