{% extends "navigation.html" %}
{% load static %}
{% load i18n %}

{% block subtitle %}{% trans "Platform Settings" %}{% endblock %}
{% block sub_head %}
{% endblock %}
{% block content %}

    <style>
        .text-color {
            color: {{ text_color }}
        }

        .text-color-bg {
            background-color: {{ text_color }}
        }
    </style>
    <div class="header">
        <div class="container-fluid">
          <h1 class="header-title my-4">{% trans "Platform Settings" %}</h1>
  
          <div class="bg-white pr-4 pb-4 pl-4 rounded-lg tabs-header">
  
            <div class="row align-items-center">
              <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="{% url 'administration:settings-contact'%}" id="contact-tab" class="nav-link">
                        <span class="fe fe-settings mr-1"></span>
                        {% trans "General" %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'administration:settings-branding' %}" id="branding-tab" class="nav-link">
                        <span class="fe fe-image mr-1"></span>
                        {% trans "Branding" %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'administration:settings-communications' %}" id="communications-tab" class="nav-link">
                        <span class="fe fe-mail mr-1"></span>
                        {% trans "Communications" %}
                    </a>
                  </li>
                  {% for settings_tab in plugin_settings_tabs %}
                    {% include settings_tab.template_name with settings_tab=settings_tab %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end header -->
  
      {% block settingscontent %}{% endblock %}

{% endblock %}
