#sidebarUser {
    display: none !important;
}

#sidebarSmall {
    display: none !important;
}

#topnav {
    display: none !important;
}


/* start css */

.navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link {
    font-size: 15px;
}

.nav-item.active a {
    color: #294D93 100%
}


/* comman css for all */

.store-page .card-body .card-title {
    font-size: 11px;
    line-height: 14px;
}

.store-page .card-body span.h2 {
    font-weight: 700;
    font-size: 22px;
    color: #12263F;
    letter-spacing: -0.26px;
    line-height: 28px;
}

.add-button a {
    position: absolute;
    top: 0px;
    right: 0;
}

.add-button a .fe {
    font-weight: 300;
}

.add-button {
    position: relative;
}


/* modal css */

.modal-csutom .card {
    box-shadow: none;
    margin-bottom: 0;
}

.modal-csutom .card {
    border: 0;
}

.modal-csutom .card-header-title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.modal-csutom .card-header {
    min-height: unset;
    padding: 20px;
    display: flex;
}

.modal-csutom .close {
    opacity: 1;
    font-weight: 300;
    font-size: 20px;
    font-size: 34px;
    line-height: 20px;
}

.card-title-price {
    display: flex;
    align-items: center;
}

.card-title-price span {
    display: block;
    align-items: center;
}

.card-title-price .title-one {
    width: 80%;
}

.card-title-price .prices {
    justify-content: flex-end;
    width: 20%;
    text-align: right;
    color: #2C7BE5;
}

.div-brand {
    margin-bottom: 18px;
}

.badge-light {
    padding: 5px 10px !important;
    border-radius: 7px !important;
    line-height: 11px;
    background-color: #FAFAFA !important;
    margin-bottom: 8px;
}

.div-inventory {
    margin-bottom: 20px;
}

.div-Notes p {
    font-size: 10px;
    line-height: 13px;
    color: #12263F;
    letter-spacing: -0.12px;
}

.div-tags {
    margin-top: 10px;
}

.div-tags .badge-soft-secondary {
    color: #6e84a3;
    background-color: #EDF2F9;
    padding: 5px 10px 5px 15px;
    margin-bottom: 5px;
    line-height: 13px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 10px;
}

.div-tags .badge-soft-secondary .close {
    margin-left: 15px;
    line-height: 13px;
    font-size: 20px;
}

.div-tags .badge-soft-secondary .close:hover {
    cursor: pointer;
}

.add-button .btn-white span {
    font-size: 30px;
}

.add-button .btn-white {
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-footer .btn-primary {
    margin-left: 8px;
}

.header-tabs .nav-link {
    white-space: nowrap;
}

.div-email h4 {
    font-size: 16px;
    color: #12263F;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.div-email h4 span {
    color: #6E84A3;
}

.div-email {
    display: flex;
}

.div-barcode img {
    width: 100%;
}

.div-barcode {
    margin-bottom: 15px;
}

.div-transfer p {
    font-size: 16px;
    color: #12263F;
    letter-spacing: -0.2px;
    line-height: 21px;
}

.card-config {
    /*background-color: rgba(255, 255, 255, 0.50);*/
    box-shadow: none !important;
}

.card-config h3 {
    font-size: 16px;
}

.card-table {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-table p {
    font-size: 16px;
    color: #90AACC;
    font-weight: 400;
}


/* select2 */

.select-multiple option:hover {
    background-color: #2C7BE5 !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-selection__arrow {
    display: block !important;
    border-color: #d2ddec !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
    padding-right: 20px !important;
    height: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #d2ddec transparent transparent transparent !important;
    border: 0 !important;
    font-family: Feather!important;
    position: relative;
    color: #6E84A3;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    content: "\e92e";
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #d2ddec transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    content: "\e931" !important;
}

*/ .select2-dropdown--above {
    border: 1px solid #d2ddec !important;
    ;
    border-bottom: none !important;
}

.form-dollar {
    position: relative;
    margin-bottom: 0;
}

.form-dollar .form-control {
    padding-left: 35px;
    font-weight: 600;
    font-size: 16px;
}

/* https://dashkit.goodthemes.co/components.html#forms   reference theme link */

#arrowR {
    background: yellow;
    width: 20px;
    height: 50px;
    float: right;
    cursor: pointer;
}

#arrowL {
    background: yellow;
    width: 20px;
    height: 50px;
    float: left;
    cursor: pointer;
}

.b0 {
    border-bottom: 0 !important;
}

.config-title {
    padding-top: 30px;
    font-size: 15px;
    color: #12263F;
    margin-left: 0;
}

.location-selection h3 {
    font-size: 16px;
    color: #12263F;
}

.config-div .btn {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-round-2 {
    width: auto !important;
    border-radius: 100px;
    height: auto !important;
    padding: 11px 30px;
    color: #12263F;
}

.add-button .btn-white.btn-round-2 span {
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.location-selection .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 500;
}

.btn-rounded-circle.btn-white.btn-round-2.btn-top {
    top: -70px;
}

.add-button .btn-white.btn-round-2 span {
    white-space: nowrap;
}

.avatar-xs {
    width: 24px !important;
    height: 24px !important;
    top: -3px;
}


/* 25th july 2018 */

.header-pretitle {
    display: none;
}

.form-control:-moz-read-only {
    background-color: #f9fbfd;
}

.form-control:read-only {
    background-color: #f9fbfd;
}

.form-control:focus:read-only {
    border-color: #d2ddec;
}


/* 30th july added css */

.table-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.tabel-top {
    margin-bottom: 15px;
}

.tabel-top .btn-white {
    margin-bottom: 5px;
    margin-right: 5px;
    text-transform: uppercase;
}

.btn-search {
    color: #6E84A3;
    font-size: 16px;
}

.table-inventory .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.table-inventory .select2.select2-container {
    width: 150px !important;
}

.table-inventory .input-group {
    flex-wrap: nowrap;
}

.table-inventory .text-mutead {
    white-space: nowrap;
}

.low-qty {
    color: #E63757;
    text-transform: uppercase;
    border-bottom: 1px solid #E63757;
}

.low-qty span {
    font-weight: 600;
    font-size: 12px;
}

.badge-soft-light {
    color: #6E84A3 !important;
    background-color: #F0F2F5;
}

.badge-soft-light:hover {
    color: #6E84A3 !important;
}

.btn-view {
    text-transform: uppercase;
}

.fade.in {
    opacity: 1;
}

.navbar-pills {
    background-color: #F8FAFD;
    border-bottom: 1px solid #edf2f9;
}

.navbar-pills li a {
    padding: 15px 20px;
    background-color: #F8FAFD;
    display: inline-block;
    color: #90AACC;
}

.navbar-pills li a.active {
    color: #12263F;
    border-bottom: 1px solid #2C7BE5;
}

.input-group-append2 {
    margin-left: 0px !important;
}

.input-group-append2 .button {
    border-left-width: 1px !important;
    padding-left: 12px !important;
    background-color: #F6F8FC !important;
}

.input-group-append2.minus .button {
    border-radius: 0 !important;
}

.input-group-append2.plus .button {
    border-left-width: 0px !important;
}

.card-blak-header {
    background-color: #12263F;
    padding: 20px;
}

.card-dash {
    padding: 20px 20px 0 20px;
}

.card-dash h3 {
    color: #6E84A3;
    font-weight: 400;
    font-size: 16px;
}

.card-dash p {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.product-info label {
    color: #6E84A3;
}

.btn-product {
    padding: 8px 80px !important;
}

.btn-back {
    padding: 8px 60px !important;
    background-color: #F2F2F2;
    border-color: #F2F2F2 !important;
}

.form-control-green {
    background-color: #F0FDF7 !important;
    color: #0EDA7F !important;
    font-weight: 500;
}

.form-control-red {
    background-color: #FEF3F5 !important;
    color: #E63757 !important;
    font-weight: 500;
}

.product-info .form-control {
    border: 1px solid rgba(144, 170, 204, 0.2);
}

.product-info .form-control:focus:read-only {
    border: 1px solid rgba(144, 170, 204, 0.2);
}

.product-info .form-control:focus {
    border-color: #2c7be5;
}

.btn-groups {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.btn-exports .btn {
    border-radius: 100px;
}

.input-group-text .fe {
    font-weight: 500;
}

.csv-export-info p span {
    color: #6E84A3;
    font-size: 16px;
    margin-top: -1px;
}

.csv-export-info p {
    align-items: flex-start;
    display: flex;
}

.table-checkbox .custom-control-label::before {
    content: "\e9d4" !important;
    font-family: Feather!important;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
}

.table-checkbox .custom-control-label:after,
.table-checkbox .custom-control-label:before {
    top: -4px !important;
    transform: translateY(0) !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.table-checkbox .custom-control-input:not(:disabled):active~.custom-control-label:before {
    display: none !important;
}

.table-checkbox .custom-control-input:checked~.custom-control-label:after {
    background-color: transparent;
    border-color: transparent;
    content: "\e92d" !important;
    font-family: Feather!important;
    font-weight: 500;
    font-size: 18px;
    color: #2C7BE5;
}

.table-checkbox .custom-control-label {
    color: #6E84A3;
    cursor: pointer;
}

.view-card .product-info .form-control:-moz-read-only {
    background-color: #ffffff;
}

.view-card .product-info .form-control:read-only {
    background-color: #ffffff;
}

.view-card .product-info .form-control:focus:read-only {
    border-color: 1px solid rgba(144, 170, 204, 0.2);
}

.view.input-group.input-group-merge>.form-control:focus~[class*=input-group]>.input-group-text {
    border: 1px solid rgba(144, 170, 204, 0.2) !important;
}

.line-1 {
    margin: 15px 0 30px 0;
}

.product-info textarea {
    min-height: 60px;
}

.table thead th a.text-muted {
    display: flex;
    align-items: flex-end;
}


/* 08-august-2019 */

.status-activated {
    color: #0EDA7F !important;
    font-size: 16px !important;
}

.btn-group-toggle.radio .fe-check-circle:before {
    content: "\e937" !important;
    font-size: 18px;
    font-weight: 500 !important;
    padding-right: 7px !important;
}

.btn-group-toggle.radio .fe-check-circle:before {
    content: "\e937" !important;
}

.btn-group-toggle.radio .btn {
    box-shadow: none !important;
    padding: 0 30px 0 0 !important;
    color: #6E84A3 !important;
    cursor: pointer !important;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 30px;
}

.btn-group-toggle.radio .btn.active .fe-check-circle:before {
    content: "\e92c" !important;
    color: #2c7be5;
}

@media (max-width: 767px) {
    /* mobile-navigation */
    #sidebarCollapse .d-md-none {
        display: none;
    }
    .navbar-user {
        display: none;
    }
    .add-button .btn-white span {
        font-size: 30px;
    }
    .add-button .btn-white {
        color: #fff;
        background-color: #2c7be5;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-button .btn-white:focus,
    .add-button .btn-white:hover,
    .add-button .btn-white:active {
        color: #fff !important;
        background-color: #2c7be5 !important;
    }
    .add-button {
        position: fixed;
        right: 20px;
        bottom: 80px;
        z-index: 99;
    }

    .btn-primary,
    .btn-outline-primary {
        padding: 8px 15px !important;
    }
    .form-footer {
        justify-content: space-between;
    }
    .mob-none {
        display: none !important;
    }
    .add-button .btn-white.btn-round-2 span {
        margin-right: 0 !important;
    }
    .btn-round-2 {
        padding: 10px 15px !important;
    }

    .table-header {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .export-groups {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .export-groups .btn-exports {
        margin-top: 20px;
    }
    .table thead th a.text-muted {
        display: flex;
        align-items: flex-end;
    }
    .btn-back {
        padding: 8px 20px !important;
    }
    .navbar-pills li a {
        display: flex;
    }
    .navbar-pills li {
        width: 100%;
    }
    .product-info textarea {
        height: 200px;
    }
    .btn-group-toggle .btn-exp {
        margin-bottom: 15px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .add-button .btn-white span {
        font-size: 25px;
    }
    .add-button .btn-white {
        color: #fff;
        background-color: #2c7be5;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-button .btn-white:focus,
    .add-button .btn-white:hover,
    .add-button .btn-white:active {
        color: #fff !important;
        background-color: #2c7be5 !important;
    }
    .add-button {
        position: fixed;
        right: 30px;
        bottom: 80px;
        z-index: 99;
    }

    .input-group-merge.view {
        margin-bottom: 15px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .btn-product {
        padding: 8px 30px !important;
    }
    .btn-back {
        padding: 8px 30px !important;
    }
    .export-groups {
        align-items: flex-start;
        flex-direction: column;
    }
    .btn-groups .btn-exports {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .btn-groups .btn {
        font-size: 13px;
    }
    .btn-back {
        padding: 8px 15px !important;
    }
    .btn-group-toggle .btn-exp {
        margin-bottom: 15px !important;
    }
}
