{% extends "application.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
  {% trans "Sign in" %}
  {% block subtitle %}{% endblock %}
{% endblock %}

{% block body %}
  <script>
  new_tab = '{{new_tab}}' == "True"
  if (new_tab) {
      window.open("/registration/signin", "_blank")
  }
  </script>
  <body class="d-flex align-items-center bg-auth bg-login-main">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 my-5 custom-login-box">


          {% if new_tab %}
          <p class="text-muted text-center mb-5">
            {% trans "Due to browser cookie restrictions, the registration calendar will open in another tab" %}
            <br><br>
            {% trans "If the new tab was blocked by your browser, simply navigate to:" %}
            <br>
            <a href="https://{{ request.META.HTTP_HOST }}{% url 'registration:signin' %}" target="_blank">https://{{ request.META.HTTP_HOST }}{% url 'registration:signin' %}</a>
          </p>
          {% else %}
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            {% trans "Sign in" %}
          </h1>

          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            {% trans "Sign in to manage your account." %}
          </p>

          <!-- Form -->
          {% include 'registration/partials/signin_form.html' with form=form %}

          {% endif %}
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </body>
{% endblock %}
